.page-admin .view-support table tr.uuid-c7623445-eb70-4b44-9b67-d76517b62b3b{
background-color: #D1FFA0;
}
.page-admin .view-support table tr.uuid-1e6ad461-4563-42e2-a7c9-e2814d96fb0a{
background-color: #ddd;
}
.page-admin .view-support table tr.uuid-b5ac2947-a59a-49d4-b155-0f887154abc1{
background-color: #FDDCAA; 
}
.page-admin .view-support table tr.uuid-0d84e844-69ab-45f0-859a-ef6a7bd11f4a{
background-color: #FBB;
}